/* Whole document: */

body {
  margin-top: 95px !important;
}
.navbar {
  min-height: 95px !important;
}

#navbar-main {
    box-shadow: none;
    text-transform: lowercase;
    background: #fcfcfc;
    /*rgba(255,255,255,0.95)*/;
}

h1, h2, h3 {
}

#hero {
  padding-top: 5em;
  padding-bottom: 5em;
}

.hero-lead {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 1rem;
}

.hero-media {
  padding-left: 2em;
}
